src/main/xsd/Band.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://www.patrikbergman.se/java/jaxb/bandapp/entity/"
        elementFormDefault="qualified">

    <complexType name="Band">
        <sequence>
            <element name="id" type="int" minOccurs="1" maxOccurs="1" />
            <element name="name" type="string" minOccurs="1" maxOccurs="1" />
            <element name="description" type="string" minOccurs="1" maxOccurs="1" />
        </sequence>
    </complexType>

</schema>